<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'terms_conditions' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<p class="animate__animated animate__fadeInUp">
			To be a dependable champion of the financial well being of the bottom of the pyramid with emphasis on the youth, small and micro enterprises while ensuring sustainability.
			
		</p>
		<br>
		<h2>Our Values</h2>
		<p class="animate__animated animate__fadeInUp">
			1. God First
			<br>
			2. Integrity
			<br>

			3. Team work
			<br>

			4. Simplicity
			<br>

			5. Dare to be different
			<br>

			6. Financial inclusion
			<br>
			
		</p>


		
	</div>
</ion-content>